:root {

  // Shades of grey
  --colorMainBlack: #292929;
  --colorDarkGrey: #707070;
  --colorLightGrey: #C2C2C2;
  --colorVeryLightGrey: #EDEDED;
  --colorWhite: #FAFAFA;

  // Main color
  --colorPurple: #7773ff;
  --colorPurpleLight: #aeacff;
  --colorPurpleVeryLight: #F6F6FF;
  
  // Secondary color
  --colorYellow: #FFBF0D;
  --colorYellowLight: #FFD767;
  --colorYellowVeryLight: #FFFAEC;

  // Tertiary color
  --colorBlue: #0984E3;
  --colorBlueLight: #74B9FF;
  --colorBlueVeryLight: #E9F4FF;

  // Danger button / warning
  --colorRedLight: #FF7675;

}