@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font('Nunito', '../../assets/fonts/Nunito/Nunito-ExtraBold.ttf', bold, normal);
@include font('Nunito', '../../assets/fonts/Nunito/Nunito-Regular.ttf', normal, normal);
@include font('NunitoSans', '../../assets/fonts/NunitoSans/NunitoSans-Bold.ttf', bold, normal);
@include font('NunitoSans', '../../assets/fonts/NunitoSans/NunitoSans-Regular.ttf', normal, normal);
@include font('NunitoSans', '../../assets/fonts/NunitoSans/NunitoSans-Light.ttf', lighter, normal);


:root {
  --fontFamilyTitle: Nunito, sans-serif;
  --fontFamilyMain: NunitoSans, sans-serif;

  --fontSizeH1: 72px;
  --fontSizeH2: 48px;
  --fontSizeH3: 28px;
  --fontSizeH4: 24px;
  --fontSizeH5: 21px;
  --fontSizeH6: 18px;
  --fontSizeMain: 16px;
  --fontSizeSubtitle: 14px;
  --fontSizeSmall: 12px;
  --fontSizeXSmall: 10px;

  //MOBILE FONT SIZE
  /*@include small {
    --fontSizeH1: 48px;
    --fontSizeH2: 36px;
    --fontSizeH3: 30px;
    --fontSizeH4: 28px;
    --fontSizeH5: 24px;
    --fontSizeH6: 21px;
    --fontSizeMain: 16px;
    --fontSizeSubtitle: 14px;
    --fontSizeSmall: 12px;
  }*/
  --fontWeightNormal: normal;
  --fontWeightBold: bold;
  --fontWeightLight: lighter;
  --fontStyleItalic: italic;
  --lineHeightMain: 1.5;
  --lineHeightLarge: 2;
}