@import '../../../styles/protons/medias.scss';

.register {
    display: grid;
    grid-template-columns: var(--gridColumns);
    grid-column-gap: var(--gutterWidth);
    grid-row-gap: 0;

    & .progress {
        margin: var(--spaceS) 0;
        // .progress-bar {
        //     width: 10%;
        // }
    }
    
    & > :first-child {
        text-align: center;
        margin-top: auto;
        font-weight: bold;
        color: var(--colorPurple);
    }
    & > * {
        grid-column: 5 / 9;
        @include small {
            grid-column: 1 / 5;
        }
        @include medium {
            grid-column: 3 / 11;
        }
        @include large {
            grid-column: 4 / 10;
        }

    }

            // Buttons
        & .button-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: var(--gutterWidth);
            grid-row-gap: 0;
        }
        & .button-container > :first-child {
            grid-column: 1 / 2;
        }
        & .button-container > :last-child {
            grid-column: 2 / 3;
        }

}

.register-step1, .register-step2, .register-step3, .register-step4 {
    & > * {
        margin: var(--spaceL) 0;
    }
}

.label {
    font-weight: var(--fontWeightBold);
    margin-bottom: var(--spaceXS);
    font-size: var(--fontSizeSubtitle);
    color: var(--colorPurple);
}