.a-button {
    display: inline-block;
    border-radius: var(--borderRadiusMedium);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: max-content;
    padding:0 var(--spaceS);
    height:40px;
    box-shadow: var(--boxShadow);
    font-weight: bold;
}

.a-button--purple {
    background-color: var(--colorPurple);
    color: var(--colorWhite);
    box-shadow: var(--boxShadowPurple);
    &:hover{
        background-color: var(--colorPurpleLight);
        color: var(--colorWhite);
    }
}

.a-button--yellow {
    background-color: var(--colorYellow);
    color: var(--colorWhite);
    box-shadow: var(--boxShadowYellow);
    &:hover{
        background-color: var(--colorYellowLight);
        color: var(--colorWhite);
    }
}

