@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

#root {
  min-height: 100vh;
  background-color: var(--colorPurpleVeryLight);
  height:100%;
  width:100%;
  
}

.completed {
  text-decoration: line-through;
}

.registering-progress{
  background-color: rgb(215, 222, 238) !important;
}

.registering-stepper-progress{
  width: 50%;
  background-color: var(--colorPurple) !important;
}

.main {
  margin: 0px var(--marginsLayout);
  font-family: NunitoSans;
}

h1,h2,h3,h4{
  font-family: Nunito;
}