@import '../../../styles/protons/medias.scss';
.a-logo {
    font-weight: normal;
    font-family: Nunito;
    color: var(--colorPurple);
    font-size: var(--fontSizeH2);
    &>strong{
        color: var(--colorYellow);
        font-weight: bold;
    }
    &:hover{
        color: var(--colorPurpleLight);
        &>strong{
            color: var(--colorYellowLight);
        }
    }
}

