.l-landing{

    display: flex;
    flex-direction: column;
    margin-top: auto;
    overflow: hidden;
    min-height:calc(100vh - 70px);
    &>:first-child{
        margin: auto;
    }
    &>:nth-child(2){
        margin-top: auto;
    }

    
}