:root {
  // Small buttons
  --borderRadiusSmall: 8px;
  // Large buttons
  --borderRadiusMedium: 10px;
  // Big areas
  --borderRadiusLarge: 16px;
  --boxShadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  --marginsLayout: 30px;
  --gutterWidth: 24px;
}