.m-input {
    display: flex;
    flex-direction: column;
    margin: var(--spaceM) 0;

    //label
    &>label {
        font-weight: var(--fontWeightBold);
        margin-bottom: var(--spaceXS);
        font-size: var(--fontSizeSubtitle);
        color: var(--colorPurple);
    }

    //input
    & input {
        font-weight: var(--fontWeightMedium);
        border-radius: var(--borderRadiusSmall);
        box-sizing: border-box;
        border: none;
        box-shadow: var(--boxShadowPurple);
        height: 40px;
        width: 100%;
        padding-left: var(--spaceM);
        font-size: var(--fontSizeMain);
       
    }

    & input:focus {
        border: 2px solid var(--colorPurpleLight);
        outline: var(--colorPurple);
    }

    //div 

    & div:first-of-type {
        position: relative;
    }

    //button
    & button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: absolute;
        right: var(--spaceS);
        top:0;
        bottom:0;
        padding:0;
        &>img{
            height:18px;
            width:18px;
            object-fit: cover;
            
        }
    }

    & button:active,
    & button:focus {
        outline: none;
        border: none;
    }


    // outline: none;
    // border: none;

    //label and input
    & label,
    & input {
        font-family: var(--fontFamilyMain);

    }
}


